<div class="article container p-4 grid gap-4" [formGroup]="form">
  <input
    type="text"
    maxlength="100"
    formControlName="title"
    placeholder="Введите заголовок"
  />

  <select *ngIf="authors.length" formControlName="authorId">
    <option [ngValue]="null">Выберите автора</option>
    <option
      [selected]="authorId.value === author.id"
      [ngValue]="author.id"
      *ngFor="let author of authors"
    >
      {{ author.name }}
    </option>
  </select>

  <textarea
    rows="10"
    formControlName="content"
    placeholder="Введите содержимое"
  ></textarea>

  <div class="flex justify-end">
    <button class="sm primary" (click)="setArticle()">Сохранить</button>
  </div>
</div>
