<div class="article container p-4 grid gap-4" [formGroup]="form">
  <input
    type="text"
    maxlength="100"
    formControlName="title"
    placeholder="Введите заголовок"
  />

  <select
    *ngIf="(authorService.authors | async)?.length"
    formControlName="authorId"
  >
    <option [ngValue]="null">Выберите автора</option>
    <option
      [selected]="authorId.value === author.id"
      [ngValue]="author.id"
      *ngFor="let author of authorService.authors | async"
    >
      {{ author.name }}
    </option>
  </select>

  <textarea
    rows="10"
    formControlName="content"
    placeholder="Введите содержимое"
  ></textarea>

  <input type="date" formControlName="publishAt" />

  <div class="flex justify-between">
    <button
      class="sm secondary"
      [class]="showDeleteBtn ? '' : 'pointer-events-none opacity-30'"
      (click)="deleteArticle()"
    >
      Удалить
    </button>
    <button class="sm primary" (click)="setArticle()">Сохранить</button>
  </div>
</div>
