<div class="home px-3 w-full">
  <ng-container *ngIf="articleService.articles.length">
    <app-card
      [routerLink]="'/article/' + article.id"
      *ngFor="let article of articlesByPage(page)"
      [article]="article"
    ></app-card>
  </ng-container>
</div>

<div class="w-full mt-5 flex items-center justify-center">
  <app-pagination
    [activePage]="page"
    (setActive)="setPagination($event)"
    [totalCount]="totalCount"
    [pageSize]="pageSize"
  ></app-pagination>
</div>

<div
  *ngIf="!articleService.articles.length"
  class="h-80 flex flex-col items-center justify-center"
>
  <h1 class="text-3xl mb-5 text-center text-gray-400">Тут пока пусто</h1>
  <h1 class="text-3xl text-center text-gray-400">
    Нажмите кнопку
    <span
      routerLink="/article/new"
      class="px-4 text-2xl py-3 ml-2 rounded-xl bg-gray-200 hover:text-gray-500 cursor-pointer"
      >Создать</span
    >
  </h1>
</div>
