@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/styles/button.scss';

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  outline: none;
  transition: 0.2s all ease;
}

html, body {
  width: 100%;
  height: 100%;
}
