@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/styles/button.scss';
@import './assets/styles/input.scss';
@import './assets/styles/textarea.scss';
@import './assets/styles/select.scss';

@import 'material-icons/iconfont/material-icons.css';

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  outline: none;
  transition: 0.2s all ease;
}

html, body {
  width: 100%;
  min-height: 100vh;
}
